/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* BURGER ANIM: https://codepen.io/ainalem/pen/LJYRxz */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:white;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

/* NavBar */
.fa-chevron-circle-down,
img[src="img/logo.png"]{
  width: 35px;
  cursor: pointer;
  color: #d72331;
}

.fa-plus:hover{
  cursor: pointer;
}

.positiontext {
  color: white;
  top:40%;
  font-size: 2em;
}

.colorpurple{
  color: #df1323;
}

.rotateimg2{
  transform: rotate(180deg);
}

.topnavbar {
  position: relative;
  top: -225px;
  transition: top 0.5s;
}

.topnavbarbutton {
  position: relative;
  top: 66px;
  transition: top 0.5s;
}

.bgnoir {
  background: url(../img/fondheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width:767px) {
  .bgnoir{
    background: url(../img/fondheader2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.noirbg{
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 30, 24, 0.8);
}

#listfornavbar{
  right:0;
}

.navbargrey,
#listfornavbar {
  background-color:  rgba(136, 138, 145, 0.5);
}

nav{
  position: fixed;
  z-index: 6;
}

#listfornavbar {
  z-index: 5;
}

#listfornavbar a{
  color: white;
}

#listfornavbar a:hover {
  text-decoration: none;
  color: #df1323;
}

.positiontoppage {
  right: 33px;
  bottom: 15px;
  z-index: 2;
}

/* REALISATION PAGE */

#about {
  background-color: #d24d57;
}

.sizetitle {
  font-size: 25px;
}

h1 {
  color: #d24d57;
  border-top: 1px solid #d24d57;
}

h2 {
  border-top: 1px solid rgba(136, 138, 145);
}

.titleportfolio2 {
  font-size: 30px;
  top: -20px;
  position: relative;
  background-color: #d24d57;
}

.titleportfolio {
  font-size: 30px;
  top: -30px;
  position: relative;
  background-color: white;
}

.image img{
  width:100%;
}

.buttoncv,
.rightcontact a,
input[type="submit"],
input[type="button"]{
  background: #d72331;
  border: 1px solid #d72331;
  border-radius: 2px;
  color: white
}

input[type="button"]:hover{
  cursor: pointer;
  color: #d72331;
  background: white;
  border: 1px solid #d72331;
}

.centerbutton {
  bottom: 0;
  width: 100%;
}

.textbutton p {
  margin-bottom: 50px;
}

.sizemore {
  font-size: 20px;
  border: 1px dashed black;
}

#bordermore {
  border-style: dashed;
}

#bordermore:hover{
  cursor: pointer;
}

.displaynoneanim{
  display: none;
  transition: display 1s;
}

.displayanim {
  display: block;
  transition: display 1s;
}

.forborder {
  border-bottom: 1px solid #d24d57;
}

img[src="img/bootstrap.png"]{
  width:25px;
}

.bootstrap {
  color: #7a00b7;
}

.fa-html5{
  color: #eb4420;
}

.fa-js-square{
  color: #f7df1e;
}

.fa-css3-alt{
  color: #026dbb;
}

.fa-php{
  color: black;
}

@media screen and (max-width: 700px) {
  .titleportfolio {
    font-size: 20px;
  }
  .listresponsiv{
    text-align: center;
  }
}

/* CONTACT PAGE */

.inputtext{
  background-color: white;
  border: 2px solid #d24d57;
  border-radius: 5px;
  color: black;
}

/* footer */
.colorfooter {
  background: #1d1e18;
}

.titlefooter{
  color: white;
}
.fa-linkedin,
.fa-twitter-square,
.fa-github-square{
  color: #d24d57;
}

.b-0{
  bottom: 0;
}

.buttoncv,
.rightcontact a,
input[type="submit"]{
  border-radius: 2px;
}

.buttoncv:hover,
.rightcontact a:hover,
input[type="submit"]:hover{
  text-decoration: none;
  cursor: pointer;
  color: #d24d57;
  border: 1px solid #d24d57;
  background: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
