/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source code pro", Verdana, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #1D1E18;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  font-family: "Source code pro", Verdana, sans-serif;
}

.navbar-inverse {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.middleheader {
  width: 77%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
}

.middleheader h2 {
  padding-bottom: 20px;
}

/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */
/* ############## START MIDDLE PAGE ############### */

input[type="button"]:hover {

    background-color: #d24d57;
    color: white;

}

h3 {
  font-size: 18px;
  border-bottom: 1px solid lightgrey;
  display: block;
  width: 90%;
  margin: auto;
  padding: 46px 0px 0px 0px;
}

h3 span {
  background-color: white;
  top: 10px;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  width: 150px;
  color: #d24d57;
}

.firstsection,
.secondlinemodal,
.thirdsection,
.firstsection span,
.thirdsection span{
  background-color: #f8f8f8;
}

/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */
/* ############## START REALISATION PAGE ############### */

.buttonforarticle input {
  border: 1px solid #d24d57;
  border-radius: 3px;
  background-color: inherit;
  padding: 1px;
  width: 20%;
  color: #d24d57;
  margin-top: 20px;
}

.buttonforarticle {
  width: 100%;
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.card {
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 50px 0px 50px 0px;
  cursor: pointer;
}

.firstlinemodal,
.secondlinemodal {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card-img-top:hover {
  opacity: 0.5;
}

.modal-body {
 text-align: center;
}

.imgformodal,
.frameworkformodal {
  width: 48%;
  display: inline-block;
}

.frameworkbootstrap {
  color:#7a00b7;
}

.fa-html5 {
  color:#eb4420;
}

.fa-css3-alt {
  color:#026dbb;
}
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */
/* ############## START ABOUT PAGE ############### */

.textaboutme {
  width: 90%;
  display: block;
  margin: auto;
  padding: 30px 0px 20px 0px;
  text-align: center;
  line-height: 25px;
}


/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */
/* ############## START BLOG PAGE ############### */


.allmyblog {
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.allmyblog img,
.allmyblog p {
  margin-top: 30px;
}




/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */
/* ############## START FORMULAIRE PAGE ############### */

.allform {
  width: 90%;
  margin: auto;
  text-align: center;
}

.allform {
  margin-top: 20px;
}

.startform input,
.allform textarea {
  background-color: white;
  border: 1px solid #d24d57;
  border-radius: 6px;
  color: grey;
  padding: 5px 4px 5px 10px;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.envoyerbutton {
  width: 30%;
  max-width: 200px;
  background-color: #d24d57;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 5px 4px 5px 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.utility a {
  background-color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  color: #d24d57;
  padding: 2px;
  width: 100%;
}

h4 {
  color: white;
  vertical-align: top;
}

.imgforleftfooter,
.utility,
.copyright {
  width: 48%;
  display: inline-block;
  text-align: center;
}

.utility {
  vertical-align: top;
}

.allfooterleft {
  width: 84%;
  display: block;
  margin: auto;
  text-align: center;
}

i {
  color: #d24d57;
}

input {
  cursor: pointer;
}

/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */
/* ############## START FOOTER PAGE ############### */

footer {
  background-color: #1D1E18;
  margin-top: 30px;
  position: absolute;
  width: 100%;
}

h4 {
  padding: 15px 0px 0px 0px;
}

@media screen and (max-width: 767px) {
    .copyright,
    .contactcv {
      display: none;
    }

    .card {
      display: block;
      margin: auto;
      text-align: center;
      margin: 40px 0px 20px 0px;
      cursor: pointer;
    }

    .card {
      display: block;
      margin: auto;
      margin-top: 45px;
    }

    .btn-primary {
      margin-bottom: 20px;
    }

    .firstlinemodal,
    .secondlinemodal {
      width: 90%;
      margin: auto;
      display: block;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {

  .imgforleftfooter,
  .utility,
  .copyright {
    width: 30%;
  }
  .copyright {
    vertical-align: bottom;
  }

  .utility a {
    padding: 3px 5px 3px 5px;
  }

  .nav li {
    font-size: 20px;
  }

  .allmyblog {
    display: inline-block;
  }

  .leftimage,
  .righttext {
    width: 48%;
    display: inline-block;
  }

  .startform input,
  .allform textarea {
    width: 100%;
  }

  .allform {
    width: 48%;
    display: inline-block;
  }

  .contactcv {
    width: 48%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 90px;
  }

  .contactcv img,
  .contactcv .utility,
  .contactcv i {
    display: block;
    margin: auto;
  }

  .contactcv img,
  .contactcv .utility {
    padding-top: 30px;
  }

  .contactcv h4 {
    color: #1d1e18;
  }

  .contactcv i {
    display: inline-block;
    margin-top: 40px;
  }

  .widthallcontact {
    width: 90%;
    display: block;
    margin: auto;
  }

  .contactcv .utility a {
   background-color: white;
   border: 1px solid #d24d57;
   color: #d24d57;
   padding: 10px 25px 10px 25px;
  }

  .contactcv .utility h4 {
    padding-bottom: 20px;
  }

  i {
    cursor: pointer;
  }

  .contactcv .utility a:hover {
    background-color: #d24d57;
    color: white;
  }

}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
